* {
    text-decoration: none;
    color: rgb(214, 214, 214);
}

body {
    background-color: rgb(26, 26, 26);
    font-family: ui-sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

section {
    height: 560px;
}

header {
    display: flex;
}

header ul {
    margin: 25px;
    padding: 0;
    margin-right: 20px;
    font-weight: 700;
    position: relative;
    left: 5%;
}

header ul::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

header ul:hover::after {
    width: 100%;
}

h1 {
    font-size: 50px;
}

h3 {
    font-weight: normal;
    font-size: 22px;
    color: rgb(4, 124, 194);
}

perfil {
    position: absolute;
    top: 20%;
    left: 10%;
}

perfil button {
    width: 220px;
    height: 50px;
    background-color: rgb(64, 78, 237);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    border-radius: 10px;
    opacity: 0.8;
}

.description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card {
    width: 26%;
    height: 250px;
    background-color: rgb(22, 22, 22);
    margin: 20px;
    box-shadow: 0px 0px 10px black;
}

.card h1 {
    font-size: 20px;
}

.card h2 {
    font-size: 18px;
    font-weight: normal;
}

.card p {
    color: rgb(64, 78, 237);
    cursor: pointer;
}

.box {
    display: flex;
}

.box-1 {
    width: 275px;
    height: 225px;
    background-color: rgb(18, 18, 18);
    box-shadow: 0px 0px 5px black;
    margin: 20px;
    margin-left: 100px;
}

.box-1 h3 {
    margin: 10px;
}

.box-1 button {
    background-color: rgb(26, 29, 31);
    color: white;
    width: 95%;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    font-size: 17px;
}

.box-2 {
    width: 700px;
    background-color: rgb(18, 18, 18);
    box-shadow: 0px 0px 5px black;
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.box-2 ul {
    list-style: none;
}

.command-section li {
    color: rgb(60, 148, 252);
    padding: 6px;
    font-weight: 400;
    background-color: rgb(50, 50, 51);
    border-radius: 4px;
    margin-top: 10px;
}

 h4 {
    padding: 10px;
    margin-left: 70px;
}

.status-section li {
    padding: 6px;
    font-weight: 400;
    background-color: rgb(50, 50, 51);
    border-radius: 4px;
    color: rgb(34, 221, 153);
    margin-left: 20px;
    margin-top: 10px;
}

.description-section li {
    padding: 6px;
    font-weight: 400;
    background-color: rgb(27, 27, 27);
    border-radius: 4px;
    color: rgb(133, 133, 133);
    margin-left: 20px;
    margin-top: 10px;
}